.Menu{
  list-style: none;
  padding: 0;
  background: #092327;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  border-radius: 5px;

  text-align: center;
}

/*modificar la lista de enlaces del menu*/
.Menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;

  display: block;



}
/*modificar los items de la lista del menu*/
.Menu li{

  display: inline-block;
  text-align: center;
}

.Menu li a:hover{
  background: #ef8354;
}
