#contenedor {
display: flex;
width: auto;
margin-top: 50px;
}
.contenedor{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}
.tabla_materias{
  width: 50%;
  display: flex;
  justify-content: center;
}
#Tab_Prueba{
  border-collapse: collapse;
  text-align: center;
  color: white;
  border: 2px solid black;
}
#Tab_Prueba caption{
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
#Tab_Prueba th{
  background: #092327;
  padding: 5px 2px;
  border: 2px solid black;
}
#Tab_Prueba td{
  padding: 5px;
  border: 2px solid black;
}
.tabla_creditos{
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#tabla_creditos{
  border-collapse: collapse;
  text-align: center;
  color: white;
  border: 2px solid black;
}
#Tabla_creditos caption{
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
#Tabla_creditos th{
  background: #092327;
  padding: 5px 5px;
  border: 2px solid black;
}
#Tabla_creditos td{
  padding: 5px;
  border: 2px solid black;
}
#tabla1 {
width: 25%;
padding: 25px 10px;
margin: 0 1%;
background: linear-gradient(to bottom, #1C9031, #1DB27C, #1C9031);
border-radius: 20px;
box-shadow: 0 0 15px black;
}

#tabla1 table {
text-align: center;
border-collapse: collapse;
color: white;
}

#tabla1 table tr th {
width: 100px;
}

#tabla1 th{
  background-color: green;
  color: white;
  border: 2px solid black;
}

#tabla1 td{
  border: 2px solid black;
  height: auto;
  padding: 8px 0;
}

#tabla2 {
width: 25%;
padding:20px;
margin: 0 1%;
background: linear-gradient(to bottom, #9F9823, #D3C827, #9F9823);
border-radius: 20px;
box-shadow: 0 0 15px black;
}

#tabla2 table {
text-align: center;
border-collapse: collapse;
color: white;
}

#tabla2 table tr th {
width: 100px;
}

#tabla2 th{
  background-color: #F1B24A ;
  color: white;
  border: 2px solid black;
}

#tabla2 td{
  border: 2px solid black;
  height: auto;
  padding: 8px 0;
}

#tabla3 {
width: 25%;
padding:20px;
margin: 0 1%;
background: linear-gradient(to bottom, #652b2b, #f71212, #652b2b);
border-radius: 20px;
box-shadow: 0 0 15px black;
}

#tabla3 table {
text-align: center;
border-collapse: collapse;
color: white;
}

#tabla3 table tr th {
width: 100px;
}

#tabla3 th{
  background-color: red ;
  color: white;
  border: 2px solid black;
}
#tabla3 td{
  border: 2px solid black;
  height: auto;
  padding: 8px 0;
}

#tabla4 {
width: 25%;
padding:20px;
margin: 0 1%;
background: linear-gradient(to bottom, #555555, #b4b4b4, #555555);
border-radius: 20px;
box-shadow: 0 0 15px black;
}

#tabla4 table {
text-align: center;
border-collapse: collapse;
color: white;
}

#tabla4 table tr th {
width: 100px;
}

#tabla4 th{
  background-color: #575757;
  color: white;
  border: 2px solid black;
}
#tabla4 td{
  border: 2px solid black;
  height: auto;
  padding: 8px 0;
}
