.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inscribir{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo{
  color: black;
  margin: 0 0;
}
p{
  font-size: 15px;
}
.NRC{
  width: 30%;
}
.tabla{
  width: 65%;
  margin-top: 3%;
}
.inscritas{
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.agregar{
  margin-top: 3%;
  width: 15%;
}
